<?xml version="1.0" encoding="UTF-8"?>
<!--
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation=" 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
-->

<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:aop="http://www.springframework.org/schema/aop" 
xmlns:context="http://www.springframework.org/schema/context" 
xsi:schemaLocation=" 
 http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd 
 http://www.springframework.org/schema/context 
 http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- beans -->
	
	<context:annotation-config/> 
	<context:component-scan base-package="com.examples.service"/> 
	<context:component-scan base-package="com.examples.aspect"/> 
	<aop:aspectj-autoproxy/>
	
	<bean id="accBean" class="com.examples.beans.Account"> 
	<property name="accNo" value="abc123"/> 
	 <property name="accName" value="Durga"/> 
	  <property name="accType" value="Savings"/> 
	  <property name="balance" value="20000"/> 
	   </bean>
	   
	   <!-- 
	    <bean id="transaction" class="com.examples.service.TransactionServiceImpl"/> 
	     <bean id="txAspect" class="com.examples.aspect.TransactionAspect"/> 
	      --> 
	       </beans>
	       
	       
	       